@page "/idcatalogue/RestaurantConcern/Restaurantname/303030"
@using BlazorApp.Data
@inject NavigationManager NavManager

<PageTitle>303030 - Skjulet Baren</PageTitle>
<nav>
    <div><a href="#">Livets Mat AB</a></div>
    <div><a href="#">Skjulet</a></div>
    <div>303030</div>
</nav>
<h1>303030 - Skjulet Baren</h1>
<table class="table-responsive">
    <caption class="space-out">
        <h2>Användare på 303030 - Skjulet Baren</h2>
        <button><span>+</span>Lägg till användare</button>
    </caption>
    <thead>
        <tr>
            <label for="id-all-items"><th><input id="id-all-items" type="checkbox" /></th></label>
            <th>Namn</th>
            <th>E-mail</th>
            <th>Användarnamn</th>
            <th>Telefonnummer</th>
            <th>Senast inloggad</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var employee in employees)
        {
            <tr>
                <label for="id-@employee.Email"><td><input id="id-@employee.Email" type="checkbox" /></td></label>
                <td><label for="id-@employee.Email">@employee.LastName,<br />@employee.FirstName</label></td>
                <td><label for="id-@employee.Email">@employee.Email</label></td>
                <td><label for="id-@employee.Email">@employee.UserName</label></td>
                <td><label for="id-@employee.Email">@employee.PhoneNumber</label></td>
                <td><label for="id-@employee.Email">@employee.LastLoggedIn</label></td>
            </tr>
        }
    </tbody>
</table>
<div class="space-out">
    <div>5 av 12 användare</div>
    <button><span>+</span> Visa alla</button>
</div>
<h2>Tjänster på 303030 - Skulet Baren</h2>
<ul>
    <li><a href="#">
        <div>
            <div>E-handel</div>
            <div>11 användare</div>
        </div>
        <div>Arrow svg</div>
    </a></li>
    <li><a href="#">
        <div>
            <div>Galatea</div>
            <div>3 användare</div>
        </div>
        <div>Arrow svg</div>
    </a></li>
    <li><a href="#">
        <div>
            <div>Semla</div>
            <div>1 användare</div>
        </div>
        <div>Arrow svg</div>
    </a></li>
</ul>

@code {

    private EmployeeInfo[]? employees;

    protected override async Task OnInitializedAsync()
    {
        employees = await EmployeesService.GetEmployeesData();
    }
}